
.container {
    color: black;
}

.topScrollButton {
 position: fixed;
 bottom: 50px;
 right:  8px;  
 width: 50px;
 height: 50px;
 background-color: var(--pipers-green);
 border-radius: 50%;
 border: 1px solid var(--white);
}

.topScrollButton:hover {
    background-color: black;
}


.header h1 {
    position: relative;
    animation-name: headerSlide;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.toggleNavButton {
    display: none;
}

@keyframes headerSlide {
    0%   {left: 0px; top: -100px;}
    25%  {left: 0px; top: 0px;}
  }


/* Mobile */
@media (max-width: 700px) {
    .header {
        padding: 10px;
    }

    .header h1 {
        color: var(--pipers-black);
        text-shadow: 1px 1px 3px var(--white);
        font-size: 2.5em;
    }

    .displayNav {
        display: block;
        animation: 3s infinite alternate slidein;
    }


    .navigation a {
        color: var(--pipers-blue)
    }

    .toggleNavButton {
        width: 50px;
        height: 50px;
        background-color: var(--white);
        display: block;
        border: 1px solid var(--pipers-blue);
        border-radius: 100px;
        position: fixed;
        top: 3px;
        right: 3px;
        z-index: 11;
    }

    .closeNav {
        display: none;
    }

    .navigationBox {
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 100%;
        text-align: center;
        background-color: var(--pipers-black);
        animation-name: navigationSlide;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    .navigationList li {
        position: relative;
        top: 100px;
        display: grid;
        font-size: x-large;
    }

    .navigationList li a {
        padding: 16px;
    }

   .socialsList {
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 20;
    color: var(--white);
   }

   .socialsList li {
    display: inline;
   }

   .socialsList li a {
    font-size: small;
    padding-left: 20px;
   }
   

   .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--pipers-blue);
    box-shadow: 3px 3px 10px var(--pipers-green);
   }

   .footer li {
    display: inline;
    padding: 10px;
   }

   .footer a {
    color: var(--pipers-green)
   }

   
   @keyframes navigationSlide {
    0%   {left: 500px; top: 0px;}
    25%  {left: 0px; top: 0px;}
  }
}
   
  

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .container {


    }
}
