
.soldOutText {
    color: red;
    text-decoration: underline;
    font-weight: 500;
}

.hr {
    color: var(--white);
    margin: auto;
}

.projectBox a {
    color: var(--white)

}

.projectBox a:hover {
    color: var(--pipers-green);

}

.projectGallery {
    justify-content: center;
    align-items: center;
    align-content: center;  
    position: relative;
    width: 100%;
    margin: auto;
    animation-name: projectSlide;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.projectBox h1 {
    color: var(--white);
    text-align: center;
}

.projectIntro, .projectOutro {
    margin: auto;
}


/* Mobile */
@media (max-width: 700px) {
    .projectBox {
        text-align: center;
        width: 300px;
        margin: auto;
    }

    .projectBox p {
        text-align: justify;
        font-size: small;
        margin-bottom: 10px;
    }

    .projectBox:first-child {
        padding: 50px 0;
    }

    .projectBox:not(:first-child) {
        padding: 50px 0;
    }

    .projectDescription {
        margin-bottom: 100px;
    }

    .projectImageWrapper {
        margin: auto;
        position: relative;
        width: 250px;
        height: 250px;
    }

    .projectImageWrapper img {
        padding: 20px;

    }

    .hr {
        width: 50%;
    }

    .projectIntro, .projectOutro {
        width: 300px;
        font-size: small;
    }

    
@keyframes projectSlide {
    0%   {left: -400px; top: 0px;}
    25%  {left: 0px; top: 0px;}
  }

}

/* Tablets */

@media (min-width: 701px) and (max-width: 1120px) {

    .projectGallery, .projectIntro, .projectOutro {
        width: 500px;
    }

    .projectIntro, .projectOutro {
        font-size: large;
    }

    .projectGallery {
    animation-name: projectSlide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    }

    .projectBox h1 {
        font-size: 3em;
    }
    
    .projectIntro {
        margin-top: 100px;
        margin-bottom: 75px;;
    }

    .projectOutro {
        margin-bottom: 100px;
    }

    .projectBox:not(:first-child) {
        padding: 75px 0;
    }

    .projectImageWrapper {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 30px auto;
    }

    .projectDescription {
        margin-bottom: 100px;
        text-align: justify;
        font-size: large;
    }
    

    .projectDescription p {
        margin-bottom: 30px;
    }


    @keyframes projectSlide {
        0%   {left: -400px; top: 0px;}
        25%  {left: 0px; top: 0px;}
      }

}
